@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import 'tailwindcss';

@theme {
  --font-playfair: 'Playfair', serif;
  --font-firacode: 'Fira Code', monospace;
  --light-text: '#FEF6E6';
  --light-subtext: '#BEBEBE';
  --primary: '#F7BF46';
}
